.signup-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-form .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.signup-form .form-group label {
    display: inline;
}

.signup-form .form-group .error-msg {
    color: red;
}